<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>722209247806-t4bnkvq775th2j39pkjq9airkp3s43ku.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.722209247806-t4bnkvq775th2j39pkjq9airkp3s43ku</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>722209247806-7fh2mta9dka0q7dha56jq6l2hhup7a5f.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBbXVP-CnE8eBZ7iPnURAam5vXapL1qOl4</string>
	<key>GCM_SENDER_ID</key>
	<string>722209247806</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ukClubTemplate</string>
	<key>PROJECT_ID</key>
	<string>uk-football-club-template</string>
	<key>STORAGE_BUCKET</key>
	<string>uk-football-club-template.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:722209247806:ios:457c85dc6133126c03376f</string>
</dict>
</plist>